<div class="card">
     
    <div class="card-body">
      <h5 class="card-title">Task Configuration</h5>
      <p class="card-text">Complete the configuration with the required parameters for the RRC website.</p>

      <div class="alert alert-primary" role="alert">
        [GET] /config
      </div>            

      <button type="button" class="card-link btn btn-secondary" id="btnConfig" data-bs-toggle="modal" data-bs-target="#modalTask">
        Edit..
      </button>

      <button type="button" class="card-link btn btn-primary" id="btnValidate">
        Validate
      </button>        

      <div id="div_validation"></div>

    </div>
  </div> 