{% extends "page.html" %}

{% block content %}

    <div class="tab-pane fade show active">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Files for RRC</h5>
              
              <p class="card-text">When you have your task ready, these are the files that RRC need to set it up.</p>

              <div id="div_export_card_body">
                {% include "partials/export_card.html" %}
              </div>
            </div>
          </div> 
          {% if config.docker %}
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Files for RRC (2)</h5>
                
                <p class="card-text">You have to create a second ZIP file with your custom docker.</p>

                <ul><li>Custom docker folder</li></ul>

              </div>
            </div> 
          {% endif %}   
    </div> 



{% endblock %}



{% block head %}
<script src="items/instructions.js"></script>

{% endblock %}   