{% extends "page.html" %}

{% block content %}

    <div class="tab-pane fade show active">

      <h2>Instructions</h2>    

      <div class="row">
        <div class="col">
          <b>Python 3.9</b>
          <ol>
            <li>Copy your Ground Truth file on the mounted folder (/gt)</li>
            <li>Implement your evaluation script. (/scripts/script.py)</li>
            <li>Add your evaluation script dependencies on (requirements.txt) file (rebuild docker)</li>
            <li>Edit the configuration</li>
            <li>If you want to show samples information, copy your samples ZIP file on the mounted folder (/gt)</li>
            <li>Verify the results page. Edit your evaluation script / configuration until looks good</li>
          </ol>
        </div>
        <div class="col">
          <b>Other Python version</b>
          <ol>
            <li>Copy your Ground Truth file on the mounted folder (/gt)</li>
            <li>Implement your evaluation script. (/scripts/script.py)</li>
            <li>Change the Docker image in the Dockerfile and add your evaluation script dependencies on (requirements.txt) file. (rebuild docker)</li>
            <li>Edit the configuration</li>
            <li>If you want to show samples information, copy your samples ZIP file on the mounted folder (/gt)</li>
            <li>Verify the results page. Edit your evaluation script / configuration until looks good</li>
          </ol>
        </div>
          <div class="col">
            <b>Other Languages</b>
            <ol>
              <li>Copy your Ground Truth file on the mounted folder (/gt)</li>
              <li>Implement the evaluation docker with you prefered language. (rebuild doker)</li>
              <li>Edit the configuration</li>
              <li>If you want to show samples information, copy your samples ZIP file on the mounted folder (/gt)</li>
              <li>Verify the results page. Edit your evaluation script / configuration until looks good</li>
            </ol>
          </div>
      </div>


      <div class="row">

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Load example</h5>
              
              <p class="card-text">You can load an existing example: script, ground truth, samples info and configuration.</p>

              <div class="alert alert-warning mt-3">
                Note that if you import an example, all the files on the mounted volumes (gt, submits, scripts) will be cleared.
              </div>

              <div class="form-floating mb-4">
                    
                <select class="form-select" name="res_ext" aria-label="Results extension" id="selectExample" placeholder="Results extension" data-bs-toggle="tooltip" data-bs-title="Select the example to load.">
                    <option selected></option>
                    </select>
                    <label for="selectExample">Load example from RRC</label>
              </div>

              <div id="div_msg_example"></div>

              <div class="row">

                <div class="col">
                  <button type="button" class="card-link btn btn-warning" id="btnImport">Load example from RRC</button>
                </div>
                <div class="col">
                  <form id="form_example_local">
                  <label for="formFile" class="card-link btn btn-warning" id="btnImportFile">Load from local file</label>
                  <input class="form-control" type="file" name="exampleFile" accept=".zip" id="formFile" style="display:none;">
                 </form>
                </div>

              </div>


              </div>


          </div>

        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Files for RRC</h5>
              
              <p class="card-text">When you have your task ready, these are the files that RRC need to set it up.</p>

              <ul>
                <li>Ground truth</li>
                <li>Python scripts (v.3.9) or your custom docker</li>
                <li>Samples (optional)</li>
                <li>Configuration file</li>
                <li>Requirements file</li>
                <li>Submition sample</li>
              </ul>

              <div id="div_msg_export"></div>
              <a href='/export' class="card-link btn btn-success" id="btnExport">Export zip</a>
              <p class="mt-3">If you have customized the evaluation docker, you will have to manually export it.</p>
            </div>
          </div>    
        </div>      

      </div>

    </div>
{% endblock %}



{% block head %}
<script src="items/instructions.js"></script>

{% endblock %}   