{% extends "page.html" %}

{% block content %}

    <div class="tab-pane fade show active">

      <div class="card mb-4">

        <div class="card-body">
          <div class="row">

            
            <div class="col-4">

              

              <ul class="list-group mb-3">
      
                <li class="list-group-item active" aria-current="true" data-bs-toggle="tab" data-bs-target="#instructions_p39">Python Evaluation script</li>
                <li class="list-group-item" data-bs-toggle="tab" data-bs-target="#instructions_o">Custom docker</li>
      
              </ul>
            </div>
      
            <div class="col-8 tab-content">
      
              <h5 class="card-title">Instructions</h5> 
              <div class="tab-pane fade show active" id="instructions_p39" role="tabpanel" tabindex="0">
                <ol>
                  <li>Copy your Ground Truth file (on the mounted folder /gt)</li>
                  <li>Implement your <a target="_blank" href='https://github.com/sergirobles/rrcevaluation/blob/master/docs/EVALUATIONSCRIPT.md'>evaluation script</a> (on the mounted folder /scripts)</li>
                  <li>If you want to show samples information, copy your samples ZIP file (on the mounted folder /gt)</li>
                  <li><a href='/configuration.html'>Edit the configuration</a></li>
                  <li><a href='/api.html'>Test Validation and Evaluation script</a></li>
                  <li>Verify the <a href='/results.html'></a>results page</a>. Edit your evaluation script / configuration until looks good</li>
                  <li><a href='/export.html'>Pack and Send files to RRC</a></li>
                </ol>
            </div>          
      
              <div class="tab-pane fade" id="instructions_o" role="tabpanel" tabindex="0">
                <ol>
                  <li>Copy your Ground Truth file on the mounted folder (/gt)</li>
                  <li>If you want to show samples information, copy your samples ZIP file on the mounted folder (/gt)</li>
                  <li>Implement the <a target="_blank" href='https://github.com/sergirobles/rrcevaluation/blob/master/docs/EVALUATIONDOCKER.md'>evaluation docker</a> with you prefered language. (rebuild doker)</li>
                  <li><a href='/configuration.html'>Edit the configuration</a></li>
                  <li><a href='/api.html'>Test API Methods</a></li>
                  <li>Verify the <a href='/results.html'></a>results page</a>. Edit your evaluation script / configuration until looks good</li>
                  <li><a href='/export.html'>Pack and Send files to RRC</a></li>
                </ol>
              </div>
      
      
            </div>
      
          </div>
      </div>
    </div>

      <div class="row">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Load example</h5>
              
              <p class="card-text">You can load an existing example: script, ground truth, samples info and configuration.</p>

              <div class="alert alert-warning mt-3">
                Note that if you import an example, all the files on the mounted volumes (gt, submits, scripts) will be cleared.
              </div>


              <div id="div_msg_example"></div>

              <div class="row">

                <div class="col">
                  <button type="button" class="card-link btn btn-warning" id="btnImportRRC">Load from RRC..</button>
                </div>
                <div class="col">
                  <form id="form_example_local">
                  <label for="formFile" class="card-link btn btn-warning" id="btnImportFile">Load from local file..</label>
                  <input class="form-control" type="file" name="exampleFile" accept=".zip" id="formFile" style="display:none;">
                 </form>
                </div>

                <div class="col">
                  <button type="button" class="card-link btn btn-danger" id="btnClear">Clear files</button>
                </div>                

              </div>


              </div>


          </div>



      </div>

    </div>

    <div id="divModalExample">

      
    </div>


{% endblock %}



{% block head %}
<script src="items/instructions.js"></script>

{% endblock %}   