
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Test validation</h5>
    <form method="post" enctype="multipart/form-data" action="/validate" id="form_validate">

      {% if config.docker %}
        <p class="card-text">
          The parameter <strong>gt</strong> is send with the value defined in the configuration. (/var/www/gt/{{ config.gt_path }})
        </p>
        <p class="card-text">
          The parameter <strong>methodParams</strong> is send with the value (<span class="methodParameters">{{ config.methodParameters }}</span>).
        </p>
        <p class="card-text">
          The parameter <strong>evaluationScript</strong> is send with the value ({{ config.script }}</span>).
        </p>      
        <p class="card-text">
          The parameter <strong>resultsExtension</strong> is send with the value ({{ config.res_ext }}</span>).
        </p>
      {% endif %}   

      <input type="hidden" name="gt" class="gtField" value="">

      <input type="hidden" name="evaluationScript" value="{{ config.script }}">
      <input type="hidden" name="resultsExtension" value="{{ config.res_ext }}">

      <input type="hidden" name="methodParams" class="methodParams">

      <div class="mb-3">
        <label for="formFile" class="form-label">Select the results file</label>

        <input class="form-control" type="file" name="resultsFile" id="formFile" accept=".{{ config.res_ext }}">
      
      </div>

      {% if config.userParameters %}      
        {% for parameter, parameterOptions in config.userParameters.items() %}

          <div class="form-floating mb-4">
          

          <select class="form-select userParameter" name="{{ parameter }}">

              {% for param in parameterOptions['values'] %} 

                <option value="{{ param.value }}">{{ param.name }}</option>

              {% endfor %}
          </select>
          <label>{{ parameterOptions.title }}</label>
        </div>
        {% endfor %}
      {% endif %}      

      <div class="alert alert-info">
        {{config.uploadInstructions}}
      </div>
            
      <div id="div_validate_response"></div>

        <input class="card-link btn btn-primary" type="submit" value="Validate">
    </form>
  </div>
</div>